{% extends 'blog/base.html' %}
{% load static %}

{% block content%}
<!-- <div>
    {% for c in post_list%}
        <h5>{{c.title}}</h5>
        <p>{{c.content|truncatewords_html:50|safe}}</p>
        <p>{{c.updated_at}}</p>
    {% endfor %}
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %} -->

{% for p in post_list%}
<div class="blog-item">
    <p class="blog-item-cate text-center">{{p.category.name}}</p>
    <h2 class="blog-item-title text-center pb-3">{{p.title}}</h2>
    {% if p.post_img %}
    <div class="text-center">
        <img src="{% static 'images/' %}{{ p.post_img }}" alt="Logo" />
    </div>
    {% endif %}
    <div class="blog-item-content pt-4">
        {{p.description|truncatewords_html:100|safe}}
    </div>
    <div class="blog-item-utils">
        <a href="https://www.cssigniter.com/demos/olsen-light/2021/08/28/skateboard-occupy/" class="read-more">Continue Reading</a>
    </div>
</div>
{% endfor %}
{% if is_paginated %}
<div class="blog-item pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock content %}