{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% for p in post_list%}
<div class="blog-item">
    {% if p.category_name %}
    <p class="blog-item-cate text-center">
        <a href="{% url 'category_slug' slug=p.category_slug %}">{{p.category_name}}</a>
    </p>
    {% endif %}
    <a href="{% url 'blog_detail' p.slug%}" class="blog-item-title">
        <h2 class="blog-item-title text-center pb-3">{{p.title}}</h2>
    </a>
    {% if p.post_img %}
    <div class="text-center">
        <a href="{% url 'blog_detail' p.slug%}">
            <img src="{% static 'images/' %}{{ p.post_img }}" alt="Logo" />
        </a>
    </div>
    {% endif %}
    <div class="blog-item-content pt-4">
        {{p.description|truncatewords_html:100|safe}}
    </div>
    <div class="blog-item-utils">
        <a href="{% url 'blog_detail' p.slug%}" class="read-more">Continue Reading</a>
    </div>
</div>
{% endfor %}


<div class="blog-item pagination">
    <span class="page-links">
        {% if post_list.has_previous %}
            <a href="{{ request.path }}?page={{ post_list.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>
        {% if post_list.has_next %}
            <a href="{{ request.path }}?page={{ post_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}